[user]
	name = Erwan Richard
	email = erwan.richard@revelhome.fr
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIL28xvhTrtrqdT89EwojZ5ooMcQPWyLBtlmWXIPkZDV0
[alias]
	st = status -sb
	c = commit
	co = checkout
	d = diff
	ds = diff --staged
	rh = reset HEAD
	amend = commit --amend
	ap = add -p
	mt = mergetool
	rec = rebase --continue
	up = !git fetch && git rebase --autostash FETCH_HEAD
	ls = log --pretty=format:'%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --no-merges
[gpg]
	format = ssh
[gpg "ssh"]
	program = /opt/1Password/op-ssh-sign
[commit]
	gpgsign = true
[core]
	editor = vim
	autocrlf = input
[push]
	default = current
[pull]
	rebase = true
[rerere]
	enabled = true
[tag]
	sort = version:refname
[init]
	defaultBranch = main
[merge]
	tool = meld
[mergetool]
	keepBackup = false
	prompt = false
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
